numpy
opencv-python==3.4.8.29
cython
pyyaml==5.1
Pillow==8.2.0
scipy
git+https://github.com/facebookresearch/fvcore
git+https://github.com/cocodataset/cocoapi.git#subdirectory=PythonAPI
dataclasses
flask